* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-image: url(../images/planks.jpg); */
}

/* header */
header {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #5a3300;
    color: whitesmoke;
}
header h1 {
    font-size: 40px;
}
header nav {
    margin-right: 20px;
    padding-top: 15px;
}
header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
header nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.hero {
    color: whitesmoke;
    font-weight: bold;
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    background-image: url("../images/woodtop.jpg");
    background-size: cover;
    background-position: 80% 80%;
}

.hero-img img {
    max-height: 300px;
}

.content h2 {
    font-size: 30px;
    min-width: 250px;
    padding-right: 15px;
    padding-bottom: 25px;
    margin: 25px;
    border-right: 1px solid black;
    text-align: right;
    
}

.about-me, .portfolio, .contact-me {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 0 20px;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 50px 0;
}

.about-me p {

    font-size: 20px;

}

.project1 img {
    max-width: 200px;
    max-height: 200px;
}

.project-gal img {
    max-width: 100px;
    max-height: 100px;
}